{
  "openapi": "3.0.3",
  "info": {
    "title": "Flute - API Reference Guide",
    "version": "V2 Beta",
    "description": "Build date: 8.23.2026 4:45 PM\n\n<div style=\"color: #d32f2f; border-left: 4px solid #d32f2f; padding-left: 1rem;\">\n<strong style=\"font-size: 1.5em;\">⚠️ Beta Release</strong>\n\nThe v2 API is currently in active development. \n\nFunctionality, request and response formats, field names, and behavior may change before the stable release. \nReview the release notes regularly for updates.\n\nContact [Developer Support](mailto:developer@flute.com?subject=About%20Flute%20API) for further details.\n</div>\n"
  },
  "servers": [
    {
      "url": "https://sandbox.api.flute.com",
      "description": "Sandbox environment"
    },
    {
      "url": "https://api.flute.com",
      "description": "Production environment"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "x-tagGroups": [
    {
      "name": "Flute API Overview",
      "tags": [
        "Getting Started",
        "API Suite Fundamentals"
      ]
    },
    {
      "name": "Flute API Reference",
      "tags": [
        "API Token Authorization",
        "Customers",
        "Merchant API Keys",
        "Payment Links",
        "Payment Methods",
        "Payment Sessions",
        "Ping",
        "POS Transactions",
        "Settings",
        "Settlements",
        "Terminals",
        "Transactions",
        "Webhooks"
      ]
    }
  ],
  "tags": [
    {
      "name": "Getting Started",
      "description": "The following is an overview for using the Flute API suite and making endpoint calls.\nGetting started has the following steps:\n* Creating a Flute Account\n* Developing in the Sandbox Environment\n* Going Live\n\n# Creating a Flute Account\n  <h1 style=\"margin-top: -12px; margin-bottom: 4px;\"></h1>\n\nBefore using Flute payment capabilities or the Flute API suite, you must create a Flute sandbox account.\n\nAll development and testing occurs first in a sandbox account.\nThe sandbox account is a fully isolated account that mirrors production behavior.\nAll transactions, sales, and Flute API endpoints may be made in the sandbox.\nHowever, it does not process real transactions.\nIt is used to validate your integration, applications, and workflows before going live.\n\nThe account is free, does not require approval, and is self managed.\nUse the following procedure to create the Flute sandbox account and a merchant API key.\nThe merchant API key is required to generate an API token, used to make each call.<br>\nSee <a href=\"/docs/getting-started/api-authentication#creating-a-flute-sandbox-account\" target=\"_blank\" rel=\"noopener noreferrer\">Creating a Flute Account</a>\n\n\n# Developing in the Sandbox Environment\nThe sandbox account is a fully isolated account that mirrors production behavior.\nIt does not process real transactions.\nUse the sandbox for all testing and app development.\nThe Flute support team is available with assistance for developing workflows and tools.\nEven after going live, it may still be used to develop and test apps.\n\n# Going Live\nWhen your product is ready to be deployed live, the Flute support team will work with you to ensure compliance.\nThis compliance follows the production readiness checklist.\nIt ensures the best and optimal developer, client, and customer experience.<br>\nFor more information and details about the production readiness checklist, <a href=\"/docs/launch/go-live\" target=\"_blank\" rel=\"noopener noreferrer\">Production Go-Live Guide</a>.\n"
    },
    {
      "name": "API Suite Fundamentals",
      "description": "The following sections are general information required for using the Flute API suite.\n\n# baseURL Environments\nFlute provides different environments to run endpoints.\n<a id=\"urlbases\"></a>\n\n**Sandbox**<br>\nThe sandbox environment is for development and testing.\nNo payments, charges, or invoices will be enforced.\nIt is a fully isolated account that mirrors production behavior.\n\nIt is used to validate your integration before going live.\nYou will work with your Flute support team developing workflows and tools.\n\nbaseURL: `https://sandbox.api.flute.com`\n\n**Production**<br>\nThe production environment is for deploying the payment system live to clients.\nAll payments, charges, or invoices are live and will be enforced.\n\nWhen your product is ready to be deployed live, the Flute support team will work with you to ensure compliance.\nThis compliance follows the production readiness checklist.\nIt ensures the best and optimal developer, client, and customer experience.<br>\nFor more information and details about the production readiness checklist, see <a href=\"/docs/launch/go-live\" target=\"_blank\" rel=\"noopener noreferrer\">Production Go-Live Guide</a>.\n\nbaseURL: `https://api.flute.com`\n\n**Using the baseURL**<br>\nUse the baseURL instead of the placeholder noted in each endpoint.\nFor example, an endpoint may be described in the endpoint documentation as:<br>\n`GET {{baseURL}}/v2/customers`\n\nTo make this call in the sandbox environment, use:<br>\n`POST https://sandbox.api.flute.com/v2/customers`\n\nTo make this call in the production environment, use:<br>\n`POST https://api.flute.com/v2/customers`\n\n# Payment Flow\n  <h1 style=\"margin-top: -12px; margin-bottom: 4px;\"></h1>\n  The following is a generalized workflow.\n\n## Approving a Purchase Request\n1) The customer completes their shopping experience on the merchant's website by selecting the products or services.\n   They navigate to the checkout page on the merchant's website.\n1) They enter their personal and payment information. This could include card details, or net banking information.\n1) The merchant's website captures these details, formatting the details as needed to conform to Flute payment gateway requirements.\n1) This sensitive data is transmitted by a secure connection (HTTPS) to the Flute payment gateway.\n   The Flute payment gateway is a service that makes authorization and sale by cards or ACH (automated clearing house, an electronic network used by financial institutions to process direct deposits).\n1) Upon receiving this information, the Flute payment gateway further routes this payment data to the processing center, such as TSYS.\n1) This entity communicates with the customer's bank to get authorization or denial for the payment.\n   The processing center determines if the payment is approved, that is, if there are sufficient funds or credit available in the customer's account.\n\n## Acknowledging a Purchase Request\n1) After the transaction is processed, the processing center sends back a response to the Flute payment gateway.\n   This response includes details of the transaction, such as whether it was approved or declined.\n1) The Flute payment gateway relays this information back to the merchant's website.\n1) The merchant's website receives this information and displays a message or signal for the customer.\n   Depending on whether the transaction was approved or declined, the appropriate message is displayed to the customer.\n   For instance:\n   * If transaction was successful, a confirmation message is shown, usually with a transaction ID and other details.<br>\n   * If it was declined, the customer is informed and typically asked to try another payment method.\n\n## Supported Card Types\n  <h1 style=\"margin-top: -12px; margin-bottom: 4px;\"></h1>\n  The following credit cards and formats are supported.\n\n- Diners Club: Card numbers are typically 14 or 16 digits long.\n- Discover: Card numbers are typically 16 digits long.\n- JCB: Card numbers are typically 16 digits long.\n- MasterCard: Card numbers are typically 16 digits long.\n- VISA: Card numbers are typically 13 or 16 digits long.\n\n# Flute-Defined Enums\n  <h1 style=\"margin-top: -12px; margin-bottom: 4px;\"></h1>\n  The following are Flute-defined enumerations and indices used in endpoint fields.\n\n  <details>\n<summary>Account Holder Types</summary>\n\n| id | name     |\n|----|----------|\n| 1  | Business |\n| 2  | Personal |\n</details>\n\n<details>\n<summary>Account Types</summary>\n\n| id | name     |\n|----|----------|\n| 1  | Checking |\n| 2  | Savings  |\n</details>\n\n<details>\n<summary>Business Categories</summary>\n\n| id | name                         |\n|----|------------------------------|\n| 1  | WebDeveloper                 |\n| 2  | IndependentSoftwareVendor    |\n| 3  | IndependentSalesOrganization |\n</details>\n\n<details>\n<summary>Credit Card Types</summary>\n<a id=\"card-types\"></a>\n\n| id | name            |\n|:--:|-----------------|\n| 1  | Visa            |\n| 2  | MasterCard      |\n| 3  | AmericanExpress |\n| 4  | DinersClub      |\n| 5  | Discover        |\n| 6  | JCB             |\n</details>\n\n<details>\n<summary>Transaction Creator Types</summary>\n<a id=\"flute-transaction-creator-type\"></a>\n\n| id | name         |\n|----|--------------|\n| 1  | Portal       |\n| 2  | ApiToken     |\n| 3  | Terminal     |\n| 4  | Invoice      |\n| 5  | QuickPayment |\n| 6  | WebComponent |\n| 7  | Subscription |\n| 8  | MobileApp    |\n| 9  | TapToPay     |\n</details>\n\n<details>\n<summary>Partner Statuses</summary>\n\n| id | name      |\n|----|-----------|\n| 1  | Active    |\n| 2  | Suspended |\n</details>\n\n<details>\n<summary>Partner Business Model Types</summary>\n\n| id | name                 |\n|----|----------------------|\n| 1  | SingleAffiliateModel |\n| 2  | SubAffiliateModel    |\n</details>\n\n<details>\n<summary>Payment Method Types</summary>\n\n| id | name            |\n|----|-----------------|\n| 1  | Card            |\n| 2  | ElectronicCheck |\n</details>\n\n<details>\n<summary>Payment Processor Statuses</summary>\n\n| id | name     |\n|----|----------|\n| 1  | Active   |\n| 2  | Inactive |\n</details>\n\n<details>\n<summary>Payment Processor Types</summary>\n\n| id | name |\n|----|------|\n| 1  | TSYS |\n| 2  | EFT  |\n</details>\n\n<details>\n<summary>Payment Session Statuses</summary>\n\n| id   | name      |\n|------|-----------|\n| 1    | Created   |\n| 2    | Cancelled |\n| 3    | Completed |\n| 4    | Failed    |\n</details>\n\n<details>\n<summary>Transaction Statuses</summary>\n<a id=\"flute-transaction-statuses\"></a>\n\n| Status Code | Status               | Description                                                                                                                                                                                                                                                                                    | Available actions |\n|-------------|----------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------|\n| 1           | Authorized           | Transaction status after an approved `pre-authorization` request                                                                                                                                                                                                                               | Capture, Void     |\n| 2           | Captured             | Transaction status after approved `sale` or `capture` request                                                                                                                                                                                                                                  | Void              |\n| 3           | Voided               | Transaction status after merchant voids an `authorized` request or refunds a `captured` (not settled) request                                                                                                                                                                                  | N/A               |\n| 4           | Refunded             | Transaction status after merchant refunds a `settled` request                                                                                                                                                                                                                                  | N/A               |\n| 5           | Verified             | NA                                                                                                                                                                                                                                                                                             | N/A               |\n| 6           | Settled              | Transaction status after successful settlement request. All `captured` transactions should have status changed to `settled`                                                                                                                                                                    | Refund            |\n| 7           | Partially Authorized | Transaction status after an approved `pre-authorization` request with the approved amount less than initially requested. Indicates that the issuer bank has approved only a portion of the requested payment amount. The exact authorized amount should be checked in the corresponding field. | Capture, Void     |\n| 8           | Informational        | NA                                                                                                                                                                                                                                                                                             | N/A               |\n| 21          | Scheduled            | NA                                                                                                                                                                                                                                                                                             | N/A               |\n| 24          | Pending              | Transaction status while changing status. This is a temporary status                                                                                                                                                                                                                           | N/A               |\n| 91          | Declined             | Transaction status after a denied `pre-authorization`, `sale` or `capture` request                                                                                                                                                                                                             | N/A               |\n| 92          | Failed               | Transaction status after a failure at any type of request                                                                                                                                                                                                                                      | N/A               |\n| 92          | Expired              | Transaction status after 7 days in `authorized` status (merchant has not captured within this time)                                                                                                                                                                                            | N/A               |\n</details>\n\n<details>\n<summary>Transaction Types</summary>\n<a id=\"flute-transaction-types\"></a>\n\n| id | name               |\n|:--:|--------------------|\n| 1  | Authorization      |    \n| 2  | Sale               |      \n| 3  | Capture            |      \n| 4  | Void               |      \n| 5  | Refund             |      \n| 6  | CardAuthentication |\n| 7  | RefundWORef        |  \n| 8  | TipAdjustment      |  \n| 11 | AchDebit           |   \n| 12 | AchRefund          |     \n| 13 | AchHold            |     \n| 14 | AchUnHold          |      \n| 15 | AchCancel          |      \n| 16 | AchCredit          |       \n</details>"
    },
    {
      "name": "Payment Links",
      "description": "<a id=\"payment-links-overview\"></a>\nA payment link is a Flute-hosted, shareable checkout page.\n\nThis payment link directs customers to a checkout page where they complete the payment.\nThe merchant does not need to build the checkout user interface, its dialog, or embed any checkout flow.\nNo POS terminal and no custom integration are required.\nA payment link can be texted or emailed to a customer directly.\n\nIt may be set up as a one-time payment or as a standing \"pay us\" page for repeat use.\nMerchants choose between:\n* `SingleUse`, a link tied to a specific invoice or order, which closes itself out after that one payment.\n* `MultiUse`, a link that keeps accepting payments from the same or different customers indefinitely.\n\nEvery link moves through a simple lifecycle — Active, Inactive, Expired, or Completed.\nFlute tracks how many payments it's received and the total collected, so the merchant always knows how a given link is performing.\n\nA payment link is template-based.\nWhen a customer opens it, Flute auto-generates a short-lived payment session from the link's stored configuration.\nIt then hands the customer to the hosted checkout page. That means the link itself never processes a payment directly.\nSix endpoints cover the resource. These include create, list, get, a JSON Merge Patch-style partial update, a soft delete, and a share-by-SMS-or-email action.\nRequest and response fields cover the amount, currency, link type, customer, reference ID, name, description, and expiration. \nThere are response-only fields such as short URL, payment count, and total collected amount."
    },
    {
      "name": "Payment Methods",
      "description": "<a id=\"payment-methods-overview\"></a>\n\n\n\nA payment method is a stored, tokenized payment record that can be used to process transactions. \n\nA stored record is created once and may be used for all future transactions.\nThis includes submitting the raw card and account details only once, when it is first created.\n\nTokenization means the sensitive payment data, such as the raw card number or bank account number, is submitted to Flute once.\nAfter that, Flute assigns a non-sensitive value to `paymentMethodId`.\nThe `paymentMethodId` is then used as the payment reference for later transactions.\n\nPayment methods can be set to one of the following types: linked to a customer or an orphan.\n\n**Linked to a customer**<br>\nA customer is a defined business entity.\nInformation includes the company name, the owner's name, billing and shipping addresses, and different kinds of payment methods.\nRather than re-entering the information, it can be saved and used later as needed.\nA payment method linked to a customer can be used by referencing the customer using the `customerId` value.\n\n**An orphan**<br>\nAn orphan payment method is a stored payment method (card or ACH account) that belongs to the merchant directly.\nIf the customerId is omitted from the payment method, the payment method is created as an orphan.\nIt exists in the merchant's vault but has no customer record associated with it.\nA practical use case would be for a one-time transaction that uses a tokenize card but without creating a full customer profile.\n\nThere are two types of payment method: Cards and ACH.\n\n**Cards**<br>\nCredit or debit cards are stored as a token.\nThe raw card number is never fully displayed.\nIt always uses a masked card number, such as `************1111`.\nA card payment type includes a card type (such as Visa or MasterCard), credit or debit card type, expiration date, and an optional payment name, a name recognizable to the merchant.\n\n**ACH accounts**<br>\nACH (automated clearing house) accounts are electronic bank accounts transfers.\nThey are stored with routing number, account number, account type (checking or savings), and account holder type (personal or business).\nBusiness ACH accounts also carry a payment name, a name recognizable to the merchant.\n\nEither can be marked as the default payment method for a customer but only one payment method may set as the default at a time."
    },
    {
      "name": "Settings",
      "description": "<a id=\"settings\"></a>\n\nThis endpoint group lists the preset and default settings for payments, discounts, and premium charges.\n\n**Levels 2 and 3**<br>\n\nSome settings list information about levels, specifically Levels 2 and 3.\n\nLevels refer to data standards for credit card transactions.\nThey provide increasingly detailed standards.\nHigher data standards qualify for lower interchange rates from Visa and Mastercard.\nThat means, merchants save on processing fees.\nAdvanced level are often required by many government and large enterprise buyers.\nThis also accommodates buyers needing detailed transaction data for accounting and reconciliation.\n\n**Level 1**<br>\nLevel 1 is the most basic data standards for credit card transactions.\nIn general industry terms, Level 1 is simply a standard transaction with basic data.\nThis includes the amount, date, merchant name, card number.\nIt's the default when no enhanced data is provided. \n\n**Level 2**<br>\nThis is an enhanced data standard.\nIt is typically the standard for business to business transactions, such as corporate, and purchasing cards.\n\nLevel 2 adds:\n* Customer code and purchase order number\n* The tax amount\n* A tax indicator.\nThis is a flag indicting if tax is included in the transaction amount, and if so, what kind.\n\n**Level 3**<br>\nThis is the most advanced data standard.\nIt offers the most detail and accountability.\nIt is typically the standard for large business to business transactions, government transactions, and government purchase cards.\nLevel 3 can reduce interchange fees by 0.5% to 1.5% compared to Level 1.\nThis discount become significant at high transaction volumes.\n\nLevel 3 adds:\n* Line-item details, such as product codes, descriptions, quantities, unit prices\n* Ship-to and ship-from postal codes\n* Freight amount\n* Discount amount\n\n\n"
    },
    {
      "name": "Settlements",
      "description": "<a id=\"settlements\"></a>\n\nSettlement is the process of actually transferring funds between parties to finalize a transaction.\n\nSettlements are resolved in batches.\nAll outstanding authorized transactions are resolved together.\nThis processing transfers funds to the merchants' accounts.\n\nThe merchant defines a settlement time in their merchant dashboard.\nThis the time of day, typically at night or after the store's closing.\nSettlements are done automatically at that time.\nThere is no explicit API call needed to start this automatic processing.\n\nAlternatively, the batch settlement may be explicitly started at any time.<br>\nUse: `POST {{baseURL}}/v2/settlements/batches/close`<br>\nThis does not process individual transactions.\nIt processes only outstanding authorized transactions.\nThe only difference is the endpoint gives the merchant some flexibility in the settlement batches.\n\n\nA typical workflow for settlement includes:\n\n**Authorization**<br>\nAn authorized transaction is one that has been approved and funds are held or reserved. \nNo money has moved yet.\nThat means funds are not instantly available for each transaction.\nMerchants may see a delay between a sale and the funds deposited in their account.\n\nFor example, the following call starts a transaction with the `captureMethod` of `Auto`.\nThis automatically adds the transaction in an open settlement batch when the transaction is completed.\nThe call returns `transactionId`, which may be used to reference this transaction.\n\n<details>\n<summary>Sample Authorization Call</summary>\n<a id=\"sample-authorization-call\"></a>\n\n```csharp\n  POST /v2/transactions\n  Authorization: Bearer {{apiKey}}                                                                                          \n  Content-Type: application/json\n  {                                                                                                                         \n  \"baseAmount\": 150.00,                                                                                                 \n  \"currencyCode\": \"USD\",\n  \"customerInitiatedTransaction\": true,\n      \"transactionDetails\": \n      {\n          \"cardData\":\n          {\n              \"captureMethod\": \"Auto\",\n              \"paymentMethodDetails\":\n              {\n                \"cardNumber\": \"4111111111111111\",\n                \"securityCode\": \"737\",\n                \"expirationMonth\": 9,\n                \"expirationYear\": 2027\n                }\n            }\n        }\n    }\n```\n\n</details>\n\n**Capture or batch**<br>\nApproved transactions are grouped together, or batched, for later processing.\n\nIf `captureMethod` is `Auto`, no additional processing is required at this step.\nThe transaction has been added to the settlement batch automatically.\n\nIf `captureMethod` is `Manual`, the transaction must be explicitly added to the settlement batch.\nIn this case use `POST /v2/transactions/{{transactionId}}/capture` to capture it to the settlement batch.\n  \nCare must be taken when using `Manual` because if the transaction is never captured, the authorization simply expires and no funds move.\n\n  <details>\n  <summary>Sample Capture Call</summary>\n  <a id=\"sample-capture-call\"></a>\n\n  Omit the body (or send {}) for a full capture. Once captured, it enters the open settlement batch.\n\n  ```csharp\n  POST /v2/transactions/{{transactionId}}/capture\n  Authorization: Bearer {{apiKey}}\n  Content-Type: application/json\n\n  {\n    \"amount\": 150.00\n  }\n  ```\n\n  </details>\n\n**Settlement**<br>\nSettlement is the step where an authorized transaction becomes a real transfer of money.\n\nThe batch is submitted to the card networks or banks.\nThis processing includes moving the money from the cardholder's bank, through the network, to the acquiring bank.\nIt eventually ends at merchant's account, minus fees.\nThis batch processing usually happens on a schedule, such as daily batch settlement at the end of business.\n\n**Verifying**<br>\nIt may take a while for settlement processing to finish.\nTo verify the status of the settlement processing use:<br>\n`POST /v2/settlements/batches/close`<br>\nSee `batchStatus` for the settlement status. \nThe processing is complete with the status `Settled`.\n\nRather than polling `GET /v2/settlements/batches`, subscribe to webhook endpoint for `settlement.batch.completed`.\nThis returns a pushed notification once the settlement batch finishes processing.\n\nThe webhook return payload is a reduced portion of the full payload.\nIt intends to be complete enough to verify the result.\nNo status is included because this event is triggered only by a `Settled` status.\n```json\n    {\n        \"id\": \"0f27fcce-a282-4049-b984-e82325ea1d6b\",\n        \"data\": { \"object\": { \"id\": \"555e779c-...\", \"resourceType\": \"settlement\" } },\n        \"type\": \"settlement.batch.completed\",\n        \"created\": 1784068840,\n        \"apiVersion\": \"v2\"\n    }\n```\n\n"
    },
    {
      "name": "Terminals",
      "description": "<a id=\"terminals\"></a>\n\nA terminal represents a physical payment device deployed to a merchant to accept card and other electronic payments.\nEach terminal is tracked from the point it's ordered through its active use in the field, including hardware details, connectivity, and security provisioning.\n\nThe combination of all the details and attributes portrays and monitors a terminal's readiness, connectivity, and security posture throughout its deployment.\n\n"
    },
    {
      "name": "POS Transactions",
      "description": "<a id=\"payment-pos-transactions-overview\"></a>\n\nPOS (point of sales) transactions represent payment transactions that are initiated and driven directly on a physical terminal device.\nThis is in contrast to transactions created purely through an API, such as a card-not-present charge.\n\nA POS transaction is the record of a payment flow that runs through a physical terminal.\nThe point of service, such as a diner's table, creates it and enters at the terminal what to charge.\nThe transaction can then be polled or listed to see the resulting status and the core transaction.\nThe typical lifecycle that includes a POS transaction:\n\n**Creating one**<br>\nUse `POST /v2/pos/transactions`.<br>\nThis initiates a transaction on a specific terminal device with predefined details.\nThese include the amount, transaction type, such as sale or authorization, currency, customer, pricing type, and whether to wait for the terminal to accept it. \nThe terminal handles the actual card read (readingMethod) and cardholder interaction.\n\n**Tracking status**<br>\nA POS transaction has its own lifecycle status (posTransactionStatus).\nThis is such as TransactionProcessing or Completed and is separate from the underlying core transactionId it eventually links to once processed.\n\n**Listing them**<br>\nUse `GET /v2/pos/transactions`.<br>\nThis returns a paginated list of POS transactions, filterable by terminalId, showing fields like processedAmount, transactionType, and the linked transactionId.\n\n\n\n\n\n"
    },
    {
      "name": "Transactions",
      "description": "<a id=\"payment-transactions-overview\"></a>\n\nAt the center of Flute's payments model is the *transaction*.\nA transaction is a record created every time money moves through a merchant's account.\n\nA transaction is created with a single call: \\\n`POST /v2/transactions`\n\nEvery transaction carries the same core shape regardless of payment type:\n* `paymentProcessorId` specifies the processor handling the transaction.\n* `baseAmount` and `currencyCode` specify the transaction amount.\n* `referenceId` specifies a value the merchant chooses for their own bookkeeping.\n* `transactionDetails` specifies an object holding either the `cardData` or `achData` depending on how the customer is paying.\n\nEach transaction goes through the same endpoint.\nIt comes back with the same response envelope, just populated with different `processorResponse` details.\nThis includes whether someone is charging a saved card, running a brand-new card number inline, or debiting a bank account through ACH.\n\nCard transactions carry an extra decision point that ACH doesn't: `captureMethod`.\nThis is set to either `Auto` or `Manual`.\n* `Auto` capture means the authorization and the capture happen in one step, and the transaction lands in an Approved state immediately, ready to settle.\n* `Manual` capture splits it into two steps: the initial call only authorizes the funds and returns a Pending transaction, and a separate call to `POST /v2/transactions/{transactionId}/capture` later finalizes it.\n\nThis distinction matters most for merchants who need to confirm inventory or finalize an order total.\nFor example, a restaurant might close a tab with tips added before actually pulling the money.\nIt's why the API treats \"money authorized\" and \"money captured\" as two different states rather than collapsing them into one.\n\nOnce a transaction is captured or approved, several other endpoints act on it rather than creating a new one.\n* `POST /v2/transactions/{transactionId}/reversal` reverses a transaction outright.\n* `POST /v2/transactions/{transactionId}/tip-adjustment` lets a merchant amend the tip on an existing charge, common in card-present environments where the tip is added after the initial swipe.\n* `POST /v2/transactions/reversal` for pulling money back after settlement.\n* `POST /v2/transactions/credit` for issuing money without tying it to a prior reference.\n* `POST /v2/transactions/{transactionId}/ach-hold` for placing a hold on a pending ACH transaction.\n\nEvery transaction also comes back with a rich `amountDetails` and `processorResponse` breakdown rather than just a status code.\n* `amountDetails` separates `baseAmount` from `tipAmount`, `tipRate`, `surchargeAmount`, and `discountAmount`.\nA merchant can see exactly how a `processedAmount` was assembled instead of just the final total.\n* `processorResponse` reports which underlying processor ran the transaction, TSYS, for instance, on the card examples in the spec, or a plain ACH label for bank debits, along with a response code and a human-readable message.\nFor card transactions there's also an `addressVerificationServiceResponse`, showing whether the billing address and the postal or ZIP code the customer supplied matched what the card issuer has on file.\nThis is one of the signals merchants use to judge fraud risk on a given charge.\n\nThe following is an example of a basic transaction.\nA merchant charges $100 on a saved card with auto-capture, and the customer adds a $15 tip at checkout.\n\nRequest \\\n`POST /v2/transactions`\n```json\n{\n    \"paymentProcessorId\": \"a2f2c2e7-0b23-4682-8f99-ab7707205461\",\n    \"baseAmount\": 100.00,\n    \"currencyCode\": \"USD\",\n    \"referenceId\": \"REF-CARD-SALE-001\",\n    \"isCustomerInitiatedTransaction\": true,\n    \"pricingType\": \"Card\",\n    \"transactionDetails\": {\n        \"cardData\": {\n            \"captureMethod\": \"Auto\",\n            \"paymentMethodId\": \"e397e367-bc4a-4b69-bd78-32e3e12327c2\"\n        }\n    }\n}\n```\n\nBecause the `captureMethod` is `Auto`, Flute authorizes and captures the charge in the same call.\nThe response comes back already settled from the API's perspective:\n\nResponse\n```json\n{\n    \"transactionId\": \"5f6f782f-37af-44e1-bb18-2bc35e411899\",\n    \"transactionStatus\": \"Approved\",\n    \"processedAmount\": 115.5,\n    \"currencyCode\": \"USD\",\n    \"amountDetails\":\n    {\n        \"baseAmount\": 100.00,\n        \"tipAmount\": 15,\n        \"surchargeAmount\": 3,\n        \"discountAmount\": 2.5\n    },\n    \"processorResponse\":\n    {\n        \"processorName\": \"TSYS\",\n        \"responseCode\": \"00\",\n        \"responseMessage\": \"Approved\",\n        \"responseDefinition\": \"Approved and completed\"\n    },\n    \"addressVerificationServiceResponse\":\n    {\n        \"action\": \"Allow\",\n        \"responseCode\": \"Y\",\n        \"description\": \"Address and ZIP match\"\n    }\n}\n```\nThe `processedAmount` ($115.50) reflects the base charge plus the tip and a surcharge, minus a discount.\nThis is exactly as itemized in `amountDetails`.\n\nThe transaction is done.\nThere is no separate capture call needed.\nThis merchant chose the auto-capture path rather than the authorize-then-capture flow used for something like a restaurant tab.\n\n\n"
    },
    {
      "name": "API Token Authorization",
      "description": "<a id=\"generating-an-api-token\"></a>\nAn API token is required for each endpoint use.\nAn API token can only be created after an account is created, registered, and at least one API key has been created.\n\nThe API token is an authorization token needed for each for endpoint.\nIt is an encrypted string that combines the client Id and client secret from an API key (created earlier).\nIt contains authentication and authorization coding.\nThis includes any privileges the user or account affords.\nBeing encrypted means the API token is safe to expose in frontend code.\nThe API token is time-sensitive and expires after an amount of time.\n\nIt may be created as needed.\nWe recommend generating a new API token before each endpoint use.\nThis ensures the API token will be valid for each call.\n\n<a id=\"baseOAuthURL\"></a>\nThe API token is an OAuth 2.0 Client Credentials authorization flow.\nThe Client Credentials Flow is an OAuth 2.0 authorization Bearer grant.\nThis means a server-side application obtains an access token using its client credentials (client ID and client secret) to protect resources.\n\n<h3 style=\"margin-top: 24px; margin-bottom: 4px;\">Base authorization URLs</h3>\nAn API token is created for the environment it will be used in.\nThere are two available Flute environments: Sandbox and Production.\n\n**Sandbox**<br>\nUse the sandbox environment for development and testing.\nNo payments, charges, or invoices will be enforced.<br>\nEndpoint: `POST https://sandbox.oauth.api.flute.com`\n\n**Production**<br>\nUse the production environment for deploying the payment system live to clients.\nAll payments, charges, or invoices will be enforced.<br>\nEndpoint: `POST https://oauth.api.flute.com`\n\nThe sandbox and production environments API tokens use the same API key and differentiated only by the environment endpoint.\nThe two API tokens types are not interchangeable and cannot be used in an environment different than they were created for.\n\nThe API key that was created in the initial account registration is needed to create an API token.\nThe **client ID** and **client secret** are used together to create an API token.\n\nThe following is an example of obtaining an API token for the sandbox environment:\n```shell\ncurl -X 'POST' 'https://sandbox.oauth.api.flute.com/oauth2/token' \\\n-u '594838709594...38697242c:9eb2c6859daa4...d8ae5da9' \\\n-H 'Content-Type: application/x-www-form-urlencoded' \\\n-d 'grant_type=client_credentials&scope=offline_access'\n```\n\nThe following is an example of refreshing an API token for the sandbox environment:\n```shell\ncurl -X 'POST' 'https://sandbox.oauth.api.flute.com/oauth2/token' \\\n-u '594838709594...38697242c:9eb2c6859daa4...d8ae5da9' \\\n-H 'Content-Type: application/x-www-form-urlencoded' \\\n-d 'grant_type=refresh_token&refresh_token=def50200newrefresh123456789'\n```\n\nRegardless of either obtaining or refreshing an API token, the following example is passed back in the response body:\n```json\n{\n\"access_token\": \"u7BYwJx26U1lT...TZpKvndLCC4\",\n\"refresh_token\": \"def50200newrefresh123456789\",\n\"token_type\": \"Bearer\",\n\"expires_in\": 900\n}\n```\n\n<h3 style=\"margin-top: 24px; margin-bottom: 4px;\">Using the API Token</h3>\n\nThe token endpoint returns both an `access_token` and a `refresh_token`.\nThe lifespan of the `access_token` is indicated by the `expires_in` value.\nThe lifespan of the `refresh_token` is set by OAuth standards.\n\nClients are encouraged to use either token as needed.\nFor example, it may be easier to call for a new `access_token` before each user-initiated action.\nThe `access_token` may also be left to expire, and then use `refresh_token` procedures to continue.\nFor example, mobile phones apps may need to use the `refresh_token` to avoid consistently signing back in.\n\nIn the endpoint header, use the following `access_token` format:\n```json\n\"Authorization\": \"Bearer u7BYwJx26U1lT...TZpKvndLCC4\"\n```\n\nThe following example creates a new access token:\n```shell\ncurl 'https://sandbox.api.flute.com/v2/transactions' \\\n-H 'Authorization: Bearer u7BYwJx26U1lT...TZpKvndLCC44' \\\n-H 'Accept: application/json'\n```\nAs a reminder, always secure your client ID and especially your client secret.\nNever expose the client secret in client-side code or public repositories.\nIt should be kept private and secure.\nIf it is suspected that the client secret has been compromised, the owning API key must be deleted.\nA new API key can then be created.\n\n<h3 style=\"margin-top: 24px; margin-bottom: 4px;\">Error Responses</h3>\n\nIf authentication fails, the token endpoint returns an error.\nThe following are commonly encountered errors.\n\n| HTTP Status      | Common Cause                                                              |\n|------------------|---------------------------------------------------------------------------|\n| 400 Bad Request  | Missing or invalid grant_type, or malformed request body.                 |\n| 401 Unauthorized | The API token has likely expired. Create a new one and retry the request. |"
    },
    {
      "name": "Payment Sessions",
      "description": "<a id=\"payment-sessions-overview\"></a>\nA payment session is an in-progress payment transaction.\nIt is a temporary, time-limited context created when a client initiates a payment flow.\n\nIt becomes a secure, stateful environment for completing a payment transaction. \nInstead of passing sensitive payment data on every request, the payment session persists transaction details. \nThis includes the amount, currency, payment method, and status.\nIt exposes only the payment session identifier to the client. \nThis reduces the risk of data exposure.\n\nThe use of a payment session is applicable only to Flute Elements and Flute Checkout.\nSome fields may include a note about their use, and specifically for Elements and Checkout.\n\nThe following is a common workflow for using a payment session.\n\n* Create the payment session.\n* Connect through Flute Elements or Flute Checkout.\nThis may include selecting a payment method, applying discounts or promotions,\nauthorizing the payment, and capturing the funds.\nMany of these individual steps will be transparent to the client when using Flute Elements or Flute Checkout.\n\nAt each step, the payment session holds the transaction state.\nThis means each step can update the session without resubmitting the full transaction data. \nIf the client navigates away but later returns or does not complete the transaction immediately, the session can be retrieved by its identifier.\nThe flow resumes from where it left off.\n\nThe payment session can end in one of the following ways:\n* The transaction is completed.\nCheck the status of the transaction for its success.\nSee `GET /v2/payment-sessions/{{paymentSessionId}}`, the field `status`.\n* The transaction is canceled.\nThe client chooses to not complete the transaction.\nIf the client cannot later resume the transaction, a new payment session must be started.\n* The payment session expires or times out.\nWhen creating a payment session, an expiration date and time can be assigned.\nIf the transaction is neither completed nor explicitly canceled, the payment session cancels itself.\nLike the cancel operation, the state of the transaction is saved.\nThe client may retrieve the payment session later and continue the transaction."
    },
    {
      "name": "Merchant API Keys",
      "description": "API keys may be managed programmatically.\nThis includes creating and deleting API keys.\nThis is the same capability as through the partner and merchant dashboards.\n\nHow the API keys are managed depends on the source of the API token used for the endpoints.\nThere are two sources: Partner and merchant.\n* A partner API key used to create the API token affects only merchants associated with the partner.\nThe partner can manage the API keys for their individual merchants.\nA partner API key can be created only in the partner dashboard.\n* A merchant API key used to create an API token that affects only that one merchant.\nThis includes both a merchant associated with a partner and standalone merchants (those not associated with any partner).\n\nEach merchant API Key endpoint explains the details of using either API token source.\n\nThe API keys are specific to a single merchant.\nThey are not interchangeable from among different merchants, even if they are each associated with the same partner.\nThat is, merchants cannot use API keys from any other merchant.\nStandalone merchants (those not associated with any partner) manage their API keys through the merchant Flute dashboard.\n\nMerchant API keys are required only if the merchant application or account needs to integrate with the API suite.\nA merchant API key is required to create API tokens (also called access tokens), needed to make endpoint calls.\nExcept for the Merchant API Key endpoints, only merchant API tokens (API tokens created from a merchant API key) can be used with any other endpoint.\nPartner API keys cannot be used to create API tokens otherwise.\nTo generate an API token from an API key, see <a href=\"/api-reference/v2/api-token-authorization/get-oauth-token\" style=\"text-decoration: underline;\">GET /oauth-token</a>.\n\nThe number of API keys is determined by the partner or standalone merchants.\nThey may have as many or as few as required.\nFor more information about API keys, see <a href=\"/docs/getting-started/api-authentication\" target=\"_blank\">Creating an API Key</a>.\n\nThis Merchant API Key group consists of the following endpoints:\n* To list available keys, see `GET /v2/api-keys`\n* To create an API key, see `POST /v2/api-keys`\n* To revoke an API key, see `DELETE /v2/api-keys/{{clientId}}`"
    },
    {
      "name": "Customers",
      "description": "Customers are entities used to organize and manage saved payment methods.\nThese include billing details, transaction history, and recurring payments.\nA customer record may contain their name, email address, phone number, billing, and shipping addresses.\nHaving a customer association is not required to pay for transactions.\n\n**Creating a customer**<br>\nCustomers may be created in the following ways:\n\n* Explicitly with `POST /pay-api/v1/customers`.\nThis includes full customer details and optional payment methods.\n* The Merchant Portal. Merchants and their partner can create customers through this portal.\n* Implicitly with `POST /pay-int-api/payment-sessions`.\nWhen this endpoint's `mode` is either `SaveMethod` or `PaymentAndSave`, if `customerId` is not provided, one will be created.\n* Implicitly with `POST /pay-int-api/invoices/publish`.\nIf `customerId` is not provided, one will be created.\n\nNew `customerId` values can be reviewed with `GET /v2/customers`.\n\n**Pay transactions**<br>\nCustomers may pay transactions in one of three ways:\n* Vaulted payments\n* Standalone tokenization, also known as orphan vaulted payment\n* Account supported\n\n**Vaulted payments**<br>\nCustomers can be associated with one or more vaulted payment methods.\nA vaulted payment method is a securely stored payment credential.\nThis applies to credit card or bank account payments.\nA vaulted payment method is a securely stored payment credential.\nThis is considered a more secure method rather than storing the card number directly.\nThat information has previously been tokenized and saved for future use.\nVaulted information can be safely accessed through a payment identifier.\nThis is typically used for recurring billing, subscriptions, saved checkout experiences, and card-on-file transactions.\n\nIn the transaction payment, the field `customerId` is provided.\nThe customer's vaulted payment methods are available for selection.\n\n**Standalone tokenization**<br>\nClients may use standalone tokenization, also known as an orphan vaulted payment.\nThis allows a payment method to be vaulted even when the payer has not been recognized as a customer entity.\nThe transaction proceeds using a previously established payment method identifier.\n\nStandalone tokenization is useful when a payment method must be vaulted before a customer profile exists.\nThis includes guest checkouts, delayed onboarding, account setup, or card-on-file collection before registration is complete.\n\nIn the transaction payment, the field `customerId` is omitted but `paymentMethodId` is provided.\nThis indicates the merchant's orphan vaulted payment method is used.\n\n**Accounts Supported**<br>\nClients may use accounts supporting orphan payments.\nThis is a form of a payment method that temporarily exists without a customer association.\n\nIn the transaction payment, both fields `customerId` and `paymentMethodId` are omitted.\nThe transaction uses the credit or debit card, or bank account data supplied in the request."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks are notifications that are automatically sent when specific predefined events occur.\n\nWebhooks are commonly used, for instance, when payment processors need to notify a client that a charge succeeded or failed, when a subscription renews, or an incoming SMS message is available.\n\nThey replace polling.\nThis polling might have been:\n* Software polling for a status change either through a loop, or timed queries.\n* Manually by a user explicitly polling expecting a response or pending status to be returned.\n\nA merchant can only affect their own webhooks.\nThey cannot view or modify other merchant's webhooks.\nLikewise, a partner can only affect merchants associated to them.\nThey cannot affect merchants of other partners.\n\n**Required API Permissions**<br>\nRequired API Permission: Webhooks\n\n**Webhook Workflows**<br>\nTo create and manage Flute webhooks, use the following procedures and workflows.\n\n**Creating Webhooks**<br>\n1\\) Optionally, review all the valid event types.\nWebhooks can accept one or more event types.\nEach event type is evaluated independently.\nSelected events are not required to be related and may relate to different transaction types or workflows.\nFor organizational reasons, multiple webhooks can be created.\nEach webhook can then have its own set of event types.\n\nTo list all available events, see `GET /v2/webhooks/event-types`\n\n2\\) Create the webhook<br>\nTo create the webhook, see `POST /v2/webhooks/endpoints`\n\n3\\) Test the webhook<br>\nVerify the endpoint is reachable (sends a test ping).<br>\nTo test the webhook, see `POST /v2/webhooks/endpoints/{webhookId}/ping`\n\n**Managing Webhooks**<br>\nThe following set of endpoints manage webhooks.\n\n* This endpoint provides a list of all available webhook for the merchant.<br>\nTo list all the available webhooks, see `GET /v2/webhooks/endpoints`\n\n* This endpoint retrieves webhook details specified by its webhookId.<br>\nTo retrieve a specific webhook, see `GET /v2/webhooks/endpoints/{webhookId}`\n\n* This endpoint provides an ability to update or change a webhook.\nFor example, the set of event types may be changed without having to create a new webhook.<br>\nTo modify or update a specific webhook, see `PATCH /v2/webhooks/endpoints/{webhookId}`\n\n* This endpoint deletes the specific webhook.\nThis action can neither be undone nor can the webhook be retrieved.\nThis does not erase entries in the log file.<br>\nTo delete a specific webhook, see `DELETE /v2/webhooks/endpoints/{webhookId}`\n\n**Monitoring Webhooks**<br>\nThe following set of endpoints monitor webhooks.\nThese may be used to verify success of an attempt or assist in determining the cause of a problem.\n\n* This endpoint lists success level of delivery attempts.<br>\nTo view webhooks delivery attempts log file, see `GET /v2/webhooks/delivery-logs`\n\n* This endpoint lists success level of delivery attempts for a specified webhook.<br> \nTo view a specified webhook delivery attempts log file, see `GET /v2/webhooks/delivery-logs/{webhookId}`\nGet full request/response detail for a single attempt\n\n* This endpoint exports the delivery logs file.\nIt may be specified as either a CSV or JSON format.<br>\nTo export webhooks delivery attempts log file, see `GET /v2/webhooks/delivery-logs/export`\n\n* This endpoint retries a failed delivery.<br>\nTo retry a failed delivery, see `POST /v2/webhooks/delivery-logs/{id}/retry`\n\n**Client Handling of Messages**<br>\nThe webhook sends a message to the URL specified by the client.\nThis is `endpointUrl` of `POST {{baseURL}}/v2/webhooks/endpoints`.\nThe message is considered successfully sent after a send confirmation is received.\nIf that send confirmation was not successfully confirmed, the message will be sent, or retried, a number of times before failing.\n\nAfter being successfully sent to the receiving endpoint or URL, \nit is the client's responsibility to handle it after that.\nAs a best practice, we recommend that the message is first verified to be from Flute.\nFor example, use HMAC verification.\nThis step greatly increases security and reduces system vulnerabilities such as spoofing, tampering, or data injection.\nThe IP address could be blocked to prevent future intrusions.\n\nOnce the sender is verified, the client can process the message as they need.\nFor example, code or an application on the receiving server may create an email or SMS message to send to the client.\n"
    },
    {
      "name": "Ping",
      "description": "Ping is a health check endpoint.\nIt verifies the service is currently reachable.\nThis also checks that an API token is still valid.\n\nThis is a simple endpoint call. \nIt takes no parameters and returns no response body.\nA successful call returns only a 200 OK.\nThat minimalism is intentional.\nIt is typically hit frequently and automatically rather than as part of real business logic.\n\nThis endpoint is useful as:\n* an application startup check when an integration boots.\n* a periodic keep-alive in a monitoring dashboard, \n* a quick manual test after rotating an API key.\n\nIt shares the same error-handling shape as every other endpoint, such as response codes for 400, 401, 403, 429, or 500.\nThese error response codes are diagnostically useful, too.\nFor example, a response code of 401 indicates the API token is bad or expired.\n\n<span class=\"api-seealso\">See Also:</span><br>\nTo ping a webhook endpoint, see <a href=\"/api-reference/v2/webhooks/flute-v2-post-webhooks-endpoints-endpointid-ping\" style=\"text-decoration: underline;\">POST /v2/webhooks/endpoints/{{webhookId}}/ping</a>"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "tags": [
          "API Token Authorization"
        ],
        "summary": "Obtains or refreshes an API token",
        "operationId": "get-oauth-token",
        "description": "<a id=\"get-oauth-token\"></a>\n<span class=\"api-endpoint\">POST {{<a href=\"#baseOAuthURL\">baseOAuthURL</a>}}/oauth2/token</span>\n\nThis endpoint obtains or refreshes an API token.\n\nEach Flute endpoint (with the exception of this authentication endpoint) requires an API token, also called an access token).\nIt is an encrypted string generated from a Flute-owned authentication server.\nThe API token is a combination of an authentication of the user and an authorization of the user's permissions.\n\nEach API token has a limited lifespan.\nThis is often 900 seconds, or 15 minutes although the actual value is returned by the authentication call. \nAfter the API token expires, it can no longer be used to make calls.\nThe API token must then be obtained anew or refreshed.\n\n### Obtaining API Tokens\nThere are two ways to get a valid API token: **Obtaining a new token** or **Refreshing an existing token**.\n\nThe endpoint for obtaining a new API token or to refresh an existing one is the same.\nOnly the request body fields are different.\nSelecting the appropriate option displays the relevant fields and information.\n\n**Obtaining a new token**<br>\nA new token must be obtained because:\n* No token exists.\nThis may be from the user just logging in or the previous API token expired.\n* The stored `refresh_token` expired, has been revoked, or gets rejected by the server (such as a refresh attempt failed).\n* A different API key is being used.\n\nTo obtain a new API token, see the call below, selecting **Obtain a new token**.\nThis displays the fields and details needed to make the call.\n\n**Refreshing an existing token**<br>\nAn existing API token may be refreshed to create a new, valid API token.\nThat existing API token may be currently valid or has expired recently.\nThe goal is to provide continuous operation.\nThis allows users to remain authenticated without repeating full credential authentication on every renewal.\n\nAn API token may be refreshed because:\n* The current `access_token` is about to or has already expired.\n* A valid `refresh_token` is currently available and valid from the most recent API token.\n\nTo refresh an API token, see the call below, selecting **Refresh an existing token**.\nThis displays the fields and details needed to make the call.\n\n### API Token Types\nAPI token types depend on the type of API keys used to create them.\nThe resulting API token type will be one of following:\n* Merchant token if it is created from a merchant API key.\n* Partner token if it is created from a partner API key.\n\nThe two API keys types are not interchangeable.\nMost Flute endpoints require a merchant token.\nThe endpoint description specifies the required API key type.\nEndpoints requiring a partner token will be explicitly marked.\nOtherwise, a merchant token is required.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Obtain a new token",
                    "description": "Use `grant_type=client_credentials` to obtain a brand-new API token from your API key.",
                    "required": [
                      "client_id",
                      "client_secret",
                      "grant_type",
                      "scope"
                    ],
                    "properties": {
                      "client_id": {
                        "type": "string",
                        "description": "Specifies client ID from the API key for the account.\n\nExample: 59483870959438697242c\n",
                        "example": "59483870959438697242c"
                      },
                      "client_secret": {
                        "type": "string",
                        "description": "Specifies the client secret from the API key for the account.\n\nExample: 9eb2c6859daa4d8ae5da02a9\n",
                        "example": "9eb2c6859daa4d8ae5da02a9"
                      },
                      "grant_type": {
                        "type": "string",
                        "enum": [
                          "client_credentials"
                        ],
                        "description": "Specifies the literal value `client_credentials`.\n\nExample: client_credentials\n",
                        "example": "client_credentials"
                      },
                      "scope": {
                        "type": "string",
                        "enum": [
                          "offline_access"
                        ],
                        "description": "Specifies the literal value `offline_access`.\n\nExample: offline_access\n",
                        "example": "offline_access"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "title": "Refresh an existing token",
                    "description": "Use `grant_type=refresh_token` with a prior `refresh_token` value to get a new API token without re-authenticating.",
                    "required": [
                      "client_id",
                      "client_secret",
                      "grant_type",
                      "refresh_token"
                    ],
                    "properties": {
                      "client_id": {
                        "type": "string",
                        "description": "Specifies client ID from the API key for the account.\n\nExample: 59483870959438697242c\n",
                        "example": "59483870959438697242c"
                      },
                      "client_secret": {
                        "type": "string",
                        "description": "Specifies the client secret from the API key for the account.\n\nExample: 9eb2c6859daa4d8ae5da02a9\n",
                        "example": "9eb2c6859daa4d8ae5da02a9"
                      },
                      "grant_type": {
                        "type": "string",
                        "enum": [
                          "refresh_token"
                        ],
                        "description": "Specifies the literal value `refresh_token`.\n\nExample: refresh_token\n",
                        "example": "refresh_token"
                      },
                      "refresh_token": {
                        "type": "string",
                        "description": "Specifies the refresh token received from a prior token request.\n\nExample: YhjQpM...EVkVuB\n",
                        "example": "YhjQpM...EVkVuB"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK. The API token was issued successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "access_token",
                    "token_type"
                  ],
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "Indicates the API token.\n\nExample: 213bf7a8-9b0c-4d1e-2f3a-4b5c6d7e8f14\n",
                      "example": "213bf7a8-9b0c-4d1e-2f3a-4b5c6d7e8f14"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Indicates the token type.\n\nExample: Bearer\n",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Indicates the expiry, or lifetime, (in seconds) of the API token.\n\nExample: 900\n",
                      "example": 900
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "Indicates the refresh token (only for authorization_code grant).\n\nExample: 324c08b9-0c1d-4e2f-3a4b-5c6d7e8f9a25\n",
                      "example": "324c08b9-0c1d-4e2f-3a4b-5c6d7e8f9a25"
                    },
                    "scope": {
                      "type": "string",
                      "description": "Indicates the granted scopes, space-delimited.\n\nExample: null\n",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v2/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Lists customers",
        "operationId": "flute-v2-get-customers",
        "description": "<a id=\"flute-v2-get-customers\"></a>\n<span class=\"api-endpoint\">GET {{<a href=\"#urlbases\">baseURL</a>}}/v2/customers</span>\n\nThis endpoint lists customers.\n\n<span class=\"api-seealso\">See Also:</span><br>\nTo create a new customer, see <a href=\"/api-reference/v2/customers/flute-v2-post-customers\" style=\"text-decoration: underline;\">POST /v2/customers</a>.<br>\nTo retrieve a customer by ID, see <a href=\"/api-reference/v2/customers/flute-v2-get-customers-customerid\" style=\"text-decoration: underline;\">GET /v2/customers/{customerId}</a>.<br>\nTo update a customer, see <a href=\"/api-reference/v2/customers/flute-v2-patch-customers-customerid\" style=\"text-decoration: underline;\">PATCH /v2/customers/{customerId}</a>.\n\n<span style=\"font-size:8pt;\">\n  [ <a href=\"#get_v2_customers_query_parameters\">Query parameters</a> ]\n  [ <a href=\"#get_v2_customers_response_body\">Response body</a> ]\n</span>\n\n<a id=\"get_v2_customers_query_parameters\"></a>\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pagesize"
          },
          {
            "$ref": "#/components/parameters/asc"
          },
          {
            "$ref": "#/components/parameters/sortby"
          },
          {
            "name": "fullName",
            "in": "query",
            "description": "Filters by the full name.",
            "schema": {
              "type": "string",
              "x-method": "query",
              "example": "Alexandro Peppared"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filters by an email.\n",
            "schema": {
              "type": "string",
              "x-method": "query",
              "example": "pepparedstreetcafe@example.com"
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "description": "Filters by a company name.\n",
            "schema": {
              "type": "string",
              "x-method": "query",
              "example": "Peppared Street Cafe"
            }
          },
          {
            "name": "mobilePhoneNumber",
            "in": "query",
            "description": "Filters by a mobile phone number.\n\nFree-form search input, E.164 format is not required.\nThis allows partial digits or legacy formats.\n",
            "schema": {
              "type": "string",
              "x-method": "query",
              "example": "+14155552309"
            }
          },
          {
            "$ref": "#/components/parameters/createdFrom"
          },
          {
            "$ref": "#/components/parameters/createdTo"
          }
        ],
        "responses": {
          "200": {
            "description": "OK <a id=\"get_v2_customers_response_body\"></a>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageOfListCustomersResponseDto"
                },
                "example": {
                  "items": [
                    {
                      "customerId": "f81ca0b7-fa2e-4a6c-be9e-7def348c1ddf",
                      "externalId": "CUST-EXT-001",
                      "firstName": "John",
                      "lastName": "Peppared",
                      "companyName": "Acme Corp",
                      "email": "john.doe@acme.com",
                      "mobilePhoneNumber": "+14125553845",
                      "billingAddress": {
                        "city": "New York",
                        "countryCode": "US",
                        "addressLine1": "123 Main Street",
                        "addressLine2": null,
                        "postalCode": "10001",
                        "stateCode": "NY"
                      },
                      "lastTransactionDate": "2026-05-29T22:04:31.771Z",
                      "paymentMethodsCount": 3
                    },
                    {
                      "customerId": "a98bbbba-40e6-4114-970a-078ebfdcbac2",
                      "externalId": "CUST-EXT-002",
                      "firstName": "Alexandro",
                      "lastName": "Peppared",
                      "companyName": "Tech Solutions Inc",
                      "email": "peppared@techsolutions.com",
                      "mobilePhoneNumber": "+14155557890",
                      "billingAddress": {
                        "city": "Los Angeles",
                        "countryCode": "US",
                        "addressLine1": "456 Oak Avenue",
                        "addressLine2": null,
                        "postalCode": "90001",
                        "stateCode": "CA"
                      },
                      "lastTransactionDate": "2026-06-01T22:04:31.771Z",
                      "paymentMethodsCount": 1
                    }
                  ],
                  "pageInfo": {
                    "pageIndex": 0,
                    "pageSize": 20,
                    "totalItems": 150,
                    "totalPages": 8,
                    "hasMore": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Creates a customer",
        "operationId": "flute-v2-post-customers",
        "description": "<a id=\"flute-v2-post-customers\"></a>\n<span class=\"api-endpoint\">POST {{<a href=\"#urlbases\">baseURL</a>}}/v2/customers</span>\n\nThis endpoint creates a customer.\n\n<span class=\"api-seealso\">See Also:</span><br>\nTo list customers, see <a href=\"/api-reference/v2/customers/flute-v2-get-customers\" style=\"text-decoration: underline;\">GET /v2/customers</a>.<br>\nTo retrieve a customer by ID, see <a href=\"/api-reference/v2/customers/flute-v2-get-customers-customerid\" style=\"text-decoration: underline;\">GET /v2/customers/{customerId}</a>.<br>\nTo update a customer, see <a href=\"/api-reference/v2/customers/flute-v2-patch-customers-customerid\" style=\"text-decoration: underline;\">PATCH /v2/customers/{customerId}</a>.<br>\nTo delete a customer, see <a href=\"/api-reference/v2/customers/flute-v2-delete-customers-customerid\" style=\"text-decoration: underline;\">DELETE /v2/customers/{customerId}</a>.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequestDto"
              },
              "example": {
                "firstName": "John",
                "lastName": "Peppared",
                "companyName": "Acme Corp",
                "email": "john.doe@acme.com",
                "mobilePhoneNumber": "+14125553845",
                "hasSmsConsent": true,
                "shouldUseBillingAsShippingAddress": false,
                "billingAddress": {
                  "city": "New York",
                  "countryCode": "US",
                  "addressLine1": "123 Main Street",
                  "addressLine2": "Suite 100",
                  "postalCode": "10001",
                  "stateCode": "NY"
                },
                "shippingAddress": {
                  "city": "Brooklyn",
                  "countryCode": "US",
                  "addressLine1": "456 Market Street",
                  "addressLine2": "Suite 7B",
                  "postalCode": "11201",
                  "stateCode": "NY"
                },
                "paymentMethodsCreditCards": [
                  {
                    "paymentName": "My Visa Card",
                    "cardNumber": "4111111111111111",
                    "securityCode": "123",
                    "expirationMonth": 12,
                    "expirationYear": 2032
                  }
                ],
                "paymentMethodsAchAccounts": [
                  {
                    "paymentName": "Business Checking",
                    "routingNumber": "021000021",
                    "accountNumber": "123456789",
                    "taxId": "12-3456789",
                    "accountHolderType": "Personal",
                    "accountType": "Checking"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerResponseDto"
                },
                "example": {
                  "customerId": "e0bfe4be-c02a-4ded-bbdf-07a8bf8544c8"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v2/customers/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieves a customer by ID",
        "operationId": "flute-v2-get-customers-customerId",
        "description": "<a id=\"flute-v2-get-customers-customerId\"></a>\n<span class=\"api-endpoint\">GET {{<a href=\"#urlbases\">baseURL</a>}}/v2/customers/{{customerId}}</span>\n\nThis endpoint retrieves a customer by ID.\n\n<span class=\"api-seealso\">See Also:</span><br>\nTo create a new customer, see <a href=\"/api-reference/v2/customers/flute-v2-post-customers\" style=\"text-decoration: underline;\">POST /v2/customers</a>.<br>\nTo list customers, see <a href=\"/api-reference/v2/customers/flute-v2-get-customers\" style=\"text-decoration: underline;\">GET /v2/customers</a>.<br>\nTo update a customer, see <a href=\"/api-reference/v2/customers/flute-v2-patch-customers-customerid\" style=\"text-decoration: underline;\">PATCH /v2/customers/{customerId}</a>.<br>\nTo delete a customer, see <a href=\"/api-reference/v2/customers/flute-v2-delete-customers-customerid\" style=\"text-decoration: underline;\">DELETE /v2/customers/{customerId}</a>.\n",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "x-method": "path",
            "required": true,
            "description": "Specifies a customer's identifier.\n",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "c4b210e9-be39-4ebc-8195-0c422de87f90"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerResponseDto"
                },
                "example": {
                  "customerId": "61e5435f-7cec-4a7b-8523-64358cac7fac",
                  "externalId": "CUST-EXT-12345",
                  "firstName": "John",
                  "lastName": "Peppared",
                  "companyName": "Acme Corp",
                  "email": "john.doe@acme.com",
                  "mobilePhoneNumber": "+14125553845",
                  "hasSmsConsent": true,
                  "shouldUseBillingAsShippingAddress": true,
                  "billingAddress": {
                    "city": "New York",
                    "countryCode": "US",
                    "addressLine1": "123 Main Street",
                    "addressLine2": "Suite 100",
                    "postalCode": "10001",
                    "stateCode": "NY"
                  },
                  "shippingAddress": null,
                  "lastTransactionDate": "2026-05-29T22:04:31.792Z",
                  "transactionsCount": 25,
                  "transactionsVolume": 12500,
                  "lastTransactionAmount": 150,
                  "numberOfSubscriptions": 2,
                  "cards": [
                    {
                      "cardMask": "************1111",
                      "expirationMonth": 12,
                      "expirationYear": 2026,
                      "cardTokenType": null,
                      "cardType": "Visa",
                      "creditDebitType": "Credit",
                      "paymentMethodId": "e5348db9-85cf-4d9d-a27c-88013f8944be",
                      "paymentName": "My Visa Card",
                      "isDefault": true
                    },
                    {
                      "cardMask": "************5555",
                      "expirationMonth": 6,
                      "expirationYear": 2033,
                      "cardTokenType": null,
                      "cardType": "MasterCard",
                      "creditDebitType": "Debit",
                      "paymentMethodId": "911e5ed6-95db-4ceb-8c49-5dc997ce0b3d",
                      "paymentName": "Personal MasterCard",
                      "isDefault": false
                    }
                  ],
                  "achAccounts": [
                    {
                      "accountNumber": "****6789",
                      "routingNumber": "021000021",
                      "accountType": "Checking",
                      "accountHolderType": "Personal",
                      "taxId": "***-**-6789",
                      "paymentMethodId": "a7402e6f-7b52-4884-9214-b68dcd7b80bf",
                      "paymentName": "Business Checking",
                      "isDefault": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Updates a customer's information",
        "operationId": "flute-v2-patch-customers-customerId",
        "description": "<a id=\"flute-v2-patch-customers-customerId\"></a>\n<span class=\"api-endpoint\">PATCH {{<a href=\"#urlbases\">baseURL</a>}}/v2/customers/{{customerId}}</span>\n\nThis endpoint updates a customer's information.\n\n<span class=\"api-seealso\">See Also:</span><br>\nTo create a new customer, see <a href=\"/api-reference/v2/customers/flute-v2-post-customers\" style=\"text-decoration: underline;\">POST /v2/customers</a>.<br>\nTo list customers, see <a href=\"/api-reference/v2/customers/flute-v2-get-customers\" style=\"text-decoration: underline;\">GET /v2/customers</a>.<br>\nTo retrieve a customer by ID, see <a href=\"/api-reference/v2/customers/flute-v2-get-customers-customerid\" style=\"text-decoration: underline;\">GET /v2/customers/{customerId}</a>.<br>\nTo delete a customer, see <a href=\"/api-reference/v2/customers/flute-v2-delete-customers-customerid\" style=\"text-decoration: underline;\">DELETE /v2/customers/{customerId}</a>.\n",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "x-method": "path",
            "required": true,
            "description": "Specifies a customer's identifier.\n",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "c4b210e9-be39-4ebc-8195-0c422de87f90"
            }
          }
        ],
        "requestBody": {
          "description": "Specifies fields that should be changed, remain the same, or deleted.\n\nThis endpoint is a partial update.\n* Send only the fields needed to be changed.\n* An omitted field is left unchanged.\n* A field marked as null clears a field.\n\nNested structures are also affected.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequestDto"
              },
              "example": {
                "firstName": "Alexandro",
                "lastName": "Peppared",
                "companyName": "Tech Solutions Inc",
                "email": "peppared@techsolutions.com",
                "mobilePhoneNumber": "+15559876543",
                "hasSmsConsent": false,
                "shouldUseBillingAsShippingAddress": false,
                "billingAddress": {
                  "city": "Los Angeles",
                  "countryCode": "US",
                  "addressLine1": "456 Oak Avenue",
                  "addressLine2": "Floor 5",
                  "postalCode": "90001",
                  "stateCode": "CA"
                },
                "shippingAddress": {
                  "city": "San Francisco",
                  "countryCode": "US",
                  "addressLine1": "789 Pine Road",
                  "addressLine2": null,
                  "postalCode": "94102",
                  "stateCode": "CA"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK. The customer information was successfully updated."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Deletes a customer",
        "operationId": "flute-v2-delete-customers-customerId",
        "description": "<a id=\"flute-v2-delete-customers-customerId\"></a>\n<span class=\"api-endpoint\">DELETE {{<a href=\"#urlbases\">baseURL</a>}}/v2/customers/{{customerId}}</span>\n\nThis endpoint deletes a customer.\n\n<span class=\"api-seealso\">See Also:</span><br>\nTo create a new customer, see <a href=\"/api-reference/v2/customers/flute-v2-post-customers\" style=\"text-decoration: underline;\">POST /v2/customers</a>.<br>\nTo list customers, see <a href=\"/api-reference/v2/customers/flute-v2-get-customers\" style=\"text-decoration: underline;\">GET /v2/customers</a>.<br>\nTo retrieve a customer by ID, see <a href=\"/api-reference/v2/customers/flute-v2-get-customers-customerid\" style=\"text-decoration: underline;\">GET /v2/customers/{customerId}</a>.<br>\nTo update a customer, see <a href=\"/api-reference/v2/customers/flute-v2-patch-customers-customerid\" style=\"text-decoration: underline;\">PATCH /v2/customers/{customerId}</a>.\n",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "x-method": "path",
            "required": true,
            "description": "Specifies the identifier of the customer to delete.\n",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "c4b210e9-be39-4ebc-8195-0c422de87f90"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The customer was successfully deleted."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v2/api-keys": {
      "get": {
        "tags": [
          "Merchant API Keys"
        ],
        "summary": "Lists merchant API keys",
        "operationId": "flute-v2-get-api-keys",
        "description": "<a id=\"flute-v2-get-api-keys\"></a>\n<span class=\"api-endpoint\">GET {{<a href=\"#urlbases\">baseURL</a>}}/v2/api-keys</span>\n\nThis endpoint lists merchant's API keys.\n\n<span class=\"api-seealso\">See Also:</span><br>\nTo create an API key, see <a href=\"/api-reference/v2/merchant-api-keys/flute-v2-post-api-keys\" style=\"text-decoration: underline;\">POST /v2/api-keys</a>.<br>\nTo revoke an API key, see <a href=\"/api-reference/v2/merchant-api-keys/flute-v2-delete-api-keys-clientid\" style=\"text-decoration: underline;\">DELETE /v2/api-keys/{{clientId}}</a>.\n",
        "parameters": [
          {
            "name": "merchantId",
            "in": "query",
            "description": "Specifies a merchant identifier to filter API keys.\n\nIf the API token used for this endpoint was created from a partner API key, all merchant API keys associated from that partner will be searched.\nA value for `merchantId` may be used to limit the search to a specific merchant.\n\nIf the API token used for this endpoint was created from a merchant API key, only API keys for that merchant will be returned.\nA value for `merchantId` may be omitted.\n",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-method": "QUERY",
              "example": "8db2ff47-b143-4adb-ab58-a4a017504db2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiKeysResponseDto"
                },
                "example": {
                  "apiKeys": [
                    {
                      "clientId": "80bb3659-9a62-470b-92f5-d8c5d16d47b0",
                      "merchantId": "886e77d0-e86f-4710-92f6-e2b84b29bd9e",
                      "apiKeyName": "Production API Key"
                    },
                    {
                      "clientId": "7f191870-7de7-495a-9037-fabeefbdd089",
                      "merchantId": "9040dc53-46e3-4816-b3b3-c83d885c2b07",
                      "apiKeyName": "Staging API Key"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Merchant API Keys"
        ],
        "summary": "Creates a merchant API key",
        "operationId": "flute-v2-post-api-keys",
        "description": "<a id=\"flute-v2-post-api-keys\"></a>\n<span class=\"api-endpoint\">POST {{<a href=\"#urlbases\">baseURL</a>}}/v2/api-keys</span>\n\nCreates a new API key for a merchant.\n\nIf the API token used for this endpoint was created from a partner API key, an API key can be created only for merchants associated with that partner.\n\nIf the API token used for this endpoint was created from a merchant API key, an API key can be created only for that merchant.\n\n<span class=\"api-seealso\">See Also:</span><br>\nTo list available keys, see <a href=\"/api-reference/v2/merchant-api-keys/flute-v2-get-api-keys\" style=\"text-decoration: underline;\">GET /v2/api-keys</a>.<br>\nTo revoke an API key, see <a href=\"/api-reference/v2/merchant-api-keys/flute-v2-delete-api-keys-clientid\" style=\"text-decoration: underline;\">DELETE /v2/api-keys/{{clientId}}</a>.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequestDto"
              },
              "example": {
                "merchantId": "0b627967-4204-4d7a-aa13-e6eb0d58f543",
                "apiKeyName": "Production API Key"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponseDto"
                },
                "example": {
                  "clientId": "97e7c13c-059c-4734-b017-2a20847a79d0",
                  "clientSecret": "1f80d6e1-9901-48b6-a862-6cfad1612e99"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v2/api-keys/{clientId}": {
      "delete": {
        "tags": [
          "Merchant API Keys"
        ],
        "summary": "Revokes a merchant API key",
        "operationId": "flute-v2-delete-api-keys-clientId",
        "description": "<a id=\"flute-v2-delete-api-keys-clientId\"></a>\n<span class=\"api-endpoint\">DELETE {{<a href=\"#urlbases\">baseURL</a>}}/v2/api-keys/{{clientId}}</span>\n\n\nThis endpoint revokes a merchant API key.\n\n<span class=\"api-seealso\">See Also:</span><br>\nTo list available keys, see <a href=\"/api-reference/v2/merchant-api-keys/flute-v2-get-api-keys\" style=\"text-decoration: underline;\">GET /v2/api-keys</a>.<br>\nTo create an API key, see <a href=\"/api-reference/v2/merchant-api-keys/flute-v2-post-api-keys\" style=\"text-decoration: underline;\">POST /v2/api-keys</a>.\n",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "x-method": "path",
            "description": "Specifies the API key's client identifier.\n\nIf the API token used for this endpoint was created from a partner API key, an API key can be revoked only for merchants associated with that partner.\n\nIf the API token used for this endpoint was created from a merchant API key, an API key can be revoked only for that merchant.\n",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "aa98aa89-07ae-4a23-b441-48725f0386e6"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The API key was successfully revoked."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v2/payment-links": {
      "get": {
        "tags": [
          "Payment Links"
        ],
        "summary": "Lists payment links",
        "operationId": "flute-v2-get-payment-links",
        "description": "<a id=\"flute-v2-get-payment-links\"></a>\n<span class=\"api-endpoint\">GET {{<a href=\"#urlbases\">baseURL</a>}}/v2/payment-links</span>\n\nThis endpoint lists payment links for the authenticated merchant.\n\nIt returns a paginated set of payment links.\n\n<span class=\"api-seealso\">See Also:</span><br>\nTo create a new payment link, see <a href=\"/api-reference/v2/payment-links/flute-v2-post-payment-links\" style=\"text-decoration: underline;\">POST /v2/payment-links</a>.<br>\nTo retrieve a payment link by identifier, see <a href=\"/api-reference/v2/payment-links/flute-v2-get-payment-links-paymentlinkid\" style=\"text-decoration: underline;\">GET /v2/payment-links/{{paymentLinkId}}</a>.<br>\nTo update a payment link, see <a href=\"/api-reference/v2/payment-links/flute-v2-patch-payment-links-paymentlinkid\" style=\"text-decoration: underline;\">PATCH /v2/payment-links/{{paymentLinkId}}</a>.<br>\nTo delete a payment link, see <a href=\"/api-reference/v2/payment-links/flute-v2-delete-payment-links-paymentlinkid\" style=\"text-decoration: underline;\">DELETE /v2/payment-links/{{paymentLinkId}}</a>.<br>\nTo share a payment link, see <a href=\"/api-reference/v2/payment-links/flute-v2-post-payment-links-paymentlinkid-share\" style=\"text-decoration: underline;\">POST /v2/payment-links/{{paymentLinkId}}/share</a>.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pagesize"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filters using a search string.\n\nThis performs a case-insensitive search that matches exactly or partially.\n\nThe field does not have to be specified.\nIf the results are to be sorted, use the `sortBy` field to specify the sort field.\n\nThe search includes the following fields:<br>\nname<br>\ndescription<br>\npaymentLinkId\n\nExample:<br>\nPeppared Street Cafe<br>\nStreet<br>\nree\n",
            "schema": {
              "type": "string",
              "x-method": "query",
              "example": "Peppared Street Cafe"
            }
          },
          {
            "name": "linkType",
            "in": "query",
            "schema": {
              "enum": [
                "MultiUse",
                "SingleUse"
              ],
              "type": "string",
              "description": "Specifies the link type to filter by.\n\nValid values are:\n\n| Type      | Description                                                        |\n| --------- | ------------------------------------------------------------------- |\n| MultiUse  | The link can be shared with, and paid by, more than one customer.  |\n| SingleUse | The link is intended for a single customer and a single payment.   |\n"
            },
            "example": "SingleUse"
          },
          {
            "name": "paymentLinkStatus",
            "in": "query",
            "schema": {
              "enum": [
                "Active",
                "Completed",
                "Expired",
                "Inactive"
              ],
              "type": "string",
              "description": "Specifies the effective status to filter by.\n\nValid values are:\n\n| Status    | Description                                            |\n| --------- | -------------------------------------------------------- |\n| Active    | The link is open and can accept a payment.             |\n| Completed | A SingleUse link that has received its one payment.    |\n| Expired   | The link's `expiresOn` date has passed.                |\n| Inactive  | The link was deactivated and cannot accept a payment.  |\n"
            },
            "example": "Active"
          },
          {
            "$ref": "#/components/parameters/sortby"
          },
          {
            "$ref": "#/components/parameters/sortOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageOfPaymentLinkResponseDto"
                },
                "example": {
                  "items": [
                    {
                      "paymentLinkId": "6f2a8b3c-9d4e-4f1a-8b7c-3e5d6a9f0c1b",
                      "linkType": "SingleUse",
                      "paymentMethods": {
                        "card": {
                          "enabled": true,
                          "processorId": "d529945e-8d10-4cb4-9dc3-718e57f3f14e"
                        }
                      },
                      "baseAmount": 25,
                      "currencyCode": "USD",
                      "paymentLinkStatus": "Active",
                      "name": "Spring campaign",
                      "description": null,
                      "shortUrl": "https://pay.example.com/l/abc123",
                      "customerId": "3c4d5e6f-7a8b-49c0-8d1e-2f3a4b5c6d7e",
                      "customerFirstName": "Alexandro",
                      "customerLastName": "Peppared",
                      "referenceId": "ORDER-1042",
                      "expiresOn": "2026-09-15T00:00:00.000Z",
                      "paymentCount": 0,
                      "totalCollectedAmount": 0,
                      "lastPaymentOn": null,
                      "createdOn": "2026-08-12T09:15:22.100Z",
                      "modifiedOn": "2026-08-12T09:15:22.100Z"
                    }
                  ],
                  "pageInfo": {
                    "pageIndex": 0,
                    "pageSize": 20,
                    "totalItems": 150,
                    "totalPages": 8,
                    "hasMore": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Payment Links"
        ],
        "summary": "Creates a payment link",
        "operationId": "flute-v2-post-payment-links",
        "description": "<a id=\"flute-v2-post-payment-links\"></a>\n<span class=\"api-endpoint\">POST {{<a href=\"#urlbases\">baseURL</a>}}/v2/payment-links</span>\n\nThis endpoint creates a new payment link.\n\nA `paymentMethods` entry without `processorId` is pinned to the merchant's default active processor of that type at creation time.\n\n<span class=\"api-seealso\">See Also:</span><br>\nTo list payment links, see <a href=\"/api-reference/v2/payment-links/flute-v2-get-payment-links\" style=\"text-decoration: underline;\">GET /v2/payment-links</a>.<br>\nTo retrieve a payment link by identifier, see <a href=\"/api-reference/v2/payment-links/flute-v2-get-payment-links-paymentlinkid\" style=\"text-decoration: underline;\">GET /v2/payment-links/{{paymentLinkId}}</a>.<br>\nTo update a payment link, see <a href=\"/api-reference/v2/payment-links/flute-v2-patch-payment-links-paymentlinkid\" style=\"text-decoration: underline;\">PATCH /v2/payment-links/{{paymentLinkId}}</a>.<br>\nTo delete a payment link, see <a href=\"/api-reference/v2/payment-links/flute-v2-delete-payment-links-paymentlinkid\" style=\"text-decoration: underline;\">DELETE /v2/payment-links/{{paymentLinkId}}</a>.<br>\nTo share a payment link, see <a href=\"/api-reference/v2/payment-links/flute-v2-post-payment-links-paymentlinkid-share\" style=\"text-decoration: underline;\">POST /v2/payment-links/{{paymentLinkId}}/share</a>.\n",
        "requestBody": {
          "description": "Payment link configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentLinkRequestDto"
              },
              "example": {
[...]
